keybinds {
  // Free Ctrl+t everywhere so fzf can use it
  unbind "Ctrl t"

  shared_except "locked" {
    // Tabs
    bind "Ctrl Shift t" { SwitchToMode "Tab"; }
    bind "Alt o" { NewTab; }

    // Tab navigation
    bind "Alt [" { GoToPreviousTab; }
    bind "Alt ]" { GoToNextTab; }
    bind "Alt 1" { GoToTab 1; SwitchToMode "normal"; }
    bind "Alt 2" { GoToTab 2; SwitchToMode "normal"; }
    bind "Alt 3" { GoToTab 3; SwitchToMode "normal"; }
    bind "Alt 4" { GoToTab 4; SwitchToMode "normal"; }
    bind "Alt 5" { GoToTab 5; SwitchToMode "normal"; }
    bind "Alt 6" { GoToTab 6; SwitchToMode "normal"; }
    bind "Alt 7" { GoToTab 7; SwitchToMode "normal"; }
    bind "Alt 8" { GoToTab 8; SwitchToMode "normal"; }
    bind "Alt 9" { GoToTab 9; SwitchToMode "normal"; }

    // Panes
    bind "Alt p" { NewPane; }

    // Pane navigation
    bind "Alt j" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt i" { MoveFocus "Up"; }
    bind "Alt k" { MoveFocus "Down"; }

    // Pane layout switching
    bind "Alt y" { PreviousSwapLayout; }
    bind "Alt u" { NextSwapLayout; }
  }
}

default_layout "compact"

theme "one-half-dark"

pane_frames false
simplified_ui true

show_startup_tips false
show_release_notes false

ui {
  pane_frames {
    hide_session_name true
  }
}

plugins {
  about location="zellij:about"
  compact-bar location="zellij:compact-bar" {
    tooltip "F1"  // press F1 to toggle keybinding hints
  }
  configuration location="zellij:configuration"
  filepicker location="zellij:strider" {
      cwd "/"
  }
  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
  welcome-screen location="zellij:session-manager" {
      welcome_screen true
  }
}
